@{
    Layout = null;
}

<div id="flash-messages" class="alert alert-dismissible" role="alert" style="display:none;">
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <div class="container">
        <p style="margin: 0;"></p>
    </div>
</div>