@{
    Layout = null;
}

<div id="flash-messages" class="alert alert-dismissible" role="alert">
    <div class="container">
        <p></p>
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
    </div>
</div>