<footer>
    <div class="container">
        <div id="footer-links">
            <ul id="footer-links-primary">
                <li>
                    @Html.RouteLink("About us", "AboutPage")
                </li>
                <li>
                    <a href="#">Developers</a>
                </li>
                <li><a href="https://facebook.com">Facebook</a></li>
                <li><a href="https://twitter.com">Twitter</a></li>
            </ul>
            <ul id="footer-links-secondary">
                <li>
                    @Html.RouteLink("Terms and conditions", "TermsOfUsePage")
                </li>
                <li>
                    @Html.RouteLink("Privacy", "PrivacyPage")
                </li>
            </ul>
        </div>
        <hr />
        <p>&copy; @DateTime.Now.Year - MewPipe</p>
    </div>
</footer>
