<footer>
    <div class="container">
        <p>
            MewPipe accounts center
        </p>
        <hr/>
        <p>
            &copy; @DateTime.Now.Year - MewPipe
        </p>
    </div>
</footer>
