<connectionStrings>
  <clear/>
  <add name="MewPipeConnection" connectionString="Data Source=ALEXIS-PC\SQLEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  <add name="MewPipeMongoConnection" connectionString="mongodb://localhost:27017" />
</connectionStrings>