@{
    ViewBag.Title = "title";
}

<h2>FUTURE PAGE DE VIDEO</h2>

<video width="320" height="240" controls autoplay="autoplay">
    <source src="http://videos-repository.mewpipe.local:44403/api/videosData/@ViewBag.VideoId" type="video/mp4">
</video>
