@{
    ViewBag.Title = "title";
}

<h2>FUTURE PAGE DE VIDEO</h2>

<video width="320" height="240" controls autoplay="autoplay">
    <source src="https://localhost:44305/api/videos" type="video/mp4">
</video>
