@{
    ViewBag.Title = "title";
}

<h2>USER UPLOAD VIDEO</h2>

<form enctype="multipart/form-data" action="http://videos-repository.mewpipe.local:44403/api/videosdata?uploadRequestId=@ViewBag.Token.Id&returnType=redirect" method="POST">
    <input name="video" type="file" />
    <input type="submit" value="Envoyer le fichier" />
</form>