@{
    ViewBag.Title = "Upload a video";
}

@section scripts
{
    @Scripts.Render("~/scripts/upload")
    <script type="text/javascript">
        window.uploadVideoModule.setUploadUrl("http://videos-repository.mewpipe.local:44403/api/videosdata?uploadRequestId=@ViewBag.Token.Id&returnType=json");
    </script>
}
@section styles {
    @Styles.Render("~/styles/upload")
}
<div class="upload">
    <div id="uploadZone" class="uploader">
        <h2>Upload a new video</h2>
        <div>Drop your video file here</div>
        <div class="or">- or -</div>
        <span class="fakeButton button">Click to open the file browser</span>
        <label>
            <input type="file" name="video" title="">
        </label>
    </div>

    <div id="fileView">
        <h2>Uploading <span id="videoFileName"></span> ...</h2>
        <div class="progressBar">
            <div class="innerBar" id="innerProgressBar" style="width: 0">

            </div>

            <span class="percent" id="percent">
                0%
            </span>
        </div>
        <p>
            We are currently uploading your video to our servers. Please don't close the window, it could take some time.
        </p>
    </div>

    <div id="doneView">
        <h2>Your video is being converted by our servers ...</h2>
        <p>
            It could take some time. While we are busy with your video, you can start to edit its properties.
            <div id="editVideo" class="button">
                Edit my video's parameters
            </div>
        </p>
    </div>

    <div id="errorView">
        <h2>An unexpected error occured</h2>
        <p>
            There was an error uploading your video. Please verify that your file is conform to MewPipe requirements and reload the page to try again.
            <div class="button" onclick="location.reload()">
                Reload the page
            </div>
        </p>
    </div>
</div>