<connectionStrings>
  <clear/>
  <add name="MewPipeConnection" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
  <add name="MewPipeMongoConnection" connectionString="mongodb://localhost:27017" />
  <add name="MewPipeRabbitMQHostname" connectionString="localhost" />
  <add name="MewPipeVideoWorkerConversionsFolder" connectionString="C:\Dropbox\Documents\projets\4PJT\Workspace\Conversions" />
</connectionStrings>