.systemError {
    text-align: center;
    h2 {
        font-size: 40px;
        text-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
    h3 {
        margin: 10px 0 40px;
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        color: #4b4b4b;
    }
    align-content {

    }
}