$bgDefault      : transparent;
$bgHighlight    : transparent;
$bgDefaultAffix      : white;
$bgHighlightAffix    : rgb(226, 226, 226);
$colDefault     : rgb(225,23,44);
$colHighlight   : rgb(165, 13, 29);


#home {
    h2 {
        &.cursive {
            font-family: 'Noteworthy', cursive;
            margin: 40px 0;
            font-size: 35px;
        }
    }

    .videoThumb {
        padding: 10px;
        max-width: 300px;
        margin: auto;
        img {
            max-width: 100%;
        }
        h3 {
            margin-top: 10px;
            margin-bottom: 10px;
            a {
                font-size: 20px;
                color: rgb(225, 23, 44);
            }
        }
        p {
            margin: 0;
        }
        &:hover {
            background-color: beige;
        }
    }
}