.hasPlayer {
    &.onTop {
        .body-content {
            margin-top: 0;
        }

    }
    .body-content {
        max-width: none;
        padding: 0;
        .playerWrapper {
            background-color: black;
            position: relative;
            overflow: hidden;
            .videoContainer {
                max-width:1170px;
                //max-height:720px;
                margin: auto;
                .video-js {
                    position: relative;
                    padding-top: 56.25%;
                }
                .vjs-fullscreen {
                    position: relative;
                    padding-top: 0px;
                    max-width:none;
                    max-height:none;
                }
            }
        }
    }
    
    @media only screen and (max-height:800px) {
        .body-content {
            .playerWrapper {
                .videoContainer {
                    max-width:854px;
                    margin: auto;
                    .video-js {
                    }
                    .vjs-fullscreen {
                    }
                }
            }
        }
    }

    @media only screen and (max-width:599px) {
        .vjs-default-skin .vjs-big-play-button {left:25%;top:25%;width:50%;height:50%;}
    }
    @media only screen and (min-width:600px) and (max-width:768px) {
        .vjs-default-skin .vjs-big-play-button {left:25%;top:25%;width:50%;height:50%;font-size:5em;}
    }




    .vjs-default-skin {
        .vjs-control-bar {
            padding-top: 3px;
            padding-left: 10px;
            padding-right: 20px;
            height: 4em;
            color: white;
            text-shadow: none;
            background: none;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.64))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.64) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a3000000',GradientType=0 ); /* IE6-9 */


            .vjs-control {
                font-size: 1.1em;
                &:before {
                    text-shadow: none;    
                }
            }
            .vjs-time-divider {
                font-size: 1.1em;
            }

            .vjs-play-progress {
                background: #E1172C;
            }
            .vjs-volume-control {
                .vjs-volume-bar {
                    width: 5em;
                    height: 0.35em;
                    margin: 1.4em auto 0;
                }
                .vjs-volume-level {
                    height: 100%;
                    background: #E1172C;

                }
                .vjs-volume-handle {
                    &:before {
                        font-size: 0.7em;
                        top: -2px;
                    }
                }
            }
            .vjs-progress-control {
                height: 0.7em;
                font-size: 0.5em;
                left: 20px;
                right: 20px;
                .vjs-seek-handle {
                    &:before {
                        font-size: 1.5em;
                        top: -3px;
                    }
                }
            }
            .vjs-menu {
                box-shadow: none;
                margin-bottom: 1em;
                border: none;
                .vjs-menu-content {
                    padding-bottom: 14px;
                    -moz-background-clip: content-box;
                    -webkit-background-clip: content-box;
                    background-clip: content-box;
                    box-shadow: none;
                    left: -2em;
                    background-color: rgba(27, 27, 27, 0.80);
                    .vjs-menu-item {
                        //background-color: rgba(27, 27, 27, 0.80);
                        box-shadow: none;
                        color: white;
                        &:hover {
                            background-color: rgba(225, 23, 44, 0.60);
                            box-shadow: none;
                        }
                        &.vjs-selected {
                            background-color: rgba(27, 27, 27, 0.80);
                            font-weight: bold;
                            background: none;
                            color: #E1172C;
                            box-shadow: none;
                        }
                    }
                    .vjs-menu-title {
                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

    
        .vjs-big-play-button {
            border: 3px solid white;
            border: none;
            border-radius: 10px;
            background: none;
            box-shadow: none;
            //box-shadow: 1px 1px 1px #808080;
            color: white;
            position: relative;
            font-size: 10em;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -30px;
            width: 60px;
            height: 60px;
            &:before {
                line-height: 60px;
                text-shadow: 1px 1px 1px #808080;
                line-height: 55px;
                margin-left: 3px;
            }
        }

        &:hover {
            .vjs-big-play-button {
           
                background: none;
                box-shadow: none;
                //box-shadow: 1px 1px 1px #808080;
                color: #E1172C;
                border-color: #E1172C;
            }

            .vjs-control-bar {
                .vjs-progress-control {
                    font-size: 0.5em;
                }
            }
        }
    }
    hr {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .infosWrapper {
        margin-top: 20px;
        .details {
            h1 {
                margin: 0;
                font-family: Calibri, Arial;
            }
            .title {
                h1 {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                }
                .editButton {
                    display: inline-block;
                    font-size: 1.1em;
                    vertical-align: middle;
                    text-decoration: none;
                    color: white;
                    &:hover {
                        span {
                            background-color: #356fa1;
                        }
                    }
                }
            }
        
            .views {
                font-size: 1.2em;
            }
            .actions {
                .share {
                    float: left;
                }
                .impressions {
                    float: right;
                    font-size: 1.4em;
                    span {
                        cursor: pointer;
                        color: black;
                        &.good {
                            margin-right: 15px;
                        }
                        &:hover, &.selected {
                            text-decoration: none;
                            &.good {
                                color: #1d9d13;
                                .number {
                                    color: #1d9d13;
                                }
                            }
                            &.bad {
                                color: #e1172c;
                                .number {
                                    color: #e1172c;
                                }
                            }
                        }
                    }

                }
            }
        }

        .suggestions {

        }

        .boxWrapper {
            padding: 15px;
            background-color: white;
            -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
            &.marged {
                margin-top: 15px;
            }
        }
    }

    ul.share-buttons{
      list-style: none;
      padding: 0;
    }

    ul.share-buttons li{
      display: inline;
    }

    .embed {
        .playerWrapper {
            height: 100%;
            width: 100%;
            .videoContainer {
                height: 100%;
                .video-js {
                    height: 100%;
                }
            }
        }
    }

    .errorWrapper {
        i {
            font-size: 3em;
        }
        p {
            font-size: 2em;
        }
        position:relative;
        text-align: center;
        height: 100px;
        top: 50%;
        margin-top: -50px;
        &.notEmbed {
        
            top: 0;
            margin-top: 50px;
        }
    }

    textarea {
        width: 100%;
    }
}
