.upload {
	color: black;
	text-align: center;
    h2 {
        margin-top: 0;
    }
}

.uploader {
    padding: 30px 10px 30px 10px;
    position: relative;
	border: 4px dashed #A9A9A9;
	width: 100%;
	vertical-align: middle;
	margin-bottom: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

    &.drag-over {
        background-color: #fcfcfc;
	    border: 4px dashed #e1172c;
        * {
	        pointer-events: none;
        }
    }
    input {
        display: none;
    }
    label {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .or {
	    font-size:14px;
	    font-weight: bold;
	    color: #C0C0C0;
	    padding: 10px;
    }
    .fakeButton {
    }
    &:hover {
	    border: 4px dashed #e1172c;
        background-color: #fcfcfc;
        .fakeButton {
            background-color: #a91020;
            background: #f26d6d;
        }
    }
}
button {
    display: block;
    margin-top: 15px;
}
#fileView {
	text-align: center;
	display: none;
    .progressBar {
        margin-top: 20px;
        margin-bottom: 30px;
        border: solid 1px #C0C0C0;
	    height: 35px;
	    margin-top: 5px;
	    width: 100%;
        position: relative;
        .innerBar {
	        height: 100%;
            background-color: #e1172c;
        }
        .percent {
            font-weight: bold;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: black;
	        line-height: 35px;
        }
    }
}

#doneView {
	text-align: center;
	display: none;
}

#errorView {
	text-align: center;
	display: none;
}